*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'RR';
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header-nav{
    background: #FFF;
    padding: 50px 0 30px 0;
}

.header-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-nav-list{
    display: flex;
    gap: 30px;
    margin-top: 79px;
}

.header-nav-link{
    color: #8C8A8A;
text-align: center;
font-size: 18px;
}

.header-content{
    height: 450px;
    text-align: center;
}

.main-top-left{
    background: var(--grey, #F0F0F0);
    max-width: 730px;
    width: 100%;
    padding: 50px 95px 50px 40px;
 
}

.main-top-right{
    background: var(--grey, #F0F0F0);
    max-width: 350px;
    width: 100%;
    padding: 50px 24px 159px 40px;
}

.main-top-box{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

.main-top-left h2,
.main-top-right h2{
    color: #4581B7;
    font-family: 'RB';
font-size: 20px;
font-weight: 700;
margin-bottom: 25px;
text-align: center;
}

.main-top-left p,
.main-top-right p{
    color: #808080;
    font-size: 16px;
    line-height: 27px; /* 168.75% */
    text-align: justify;
}


.main-right-box{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.main-right-box a{
    color: #808080

}

.main-right-mail{
    margin-top: 50px;
}

.footer-top-box{
    background: var(--grey, #F0F0F0);
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    margin-top: 30px;
    align-items: center;
}

h3{
    color: #808080;
font-size: 16px;
margin-bottom: 10px;
}

.footer-tel{
    color: #808080;
font-size: 25px;
font-family: 'RB';
font-weight: 700;
display: block;
text-align: right;
}

.main-right-tel:hover{
    color: #4581B7;
}

.main-right-mail:hover{
    color: #4581B7;
}

.footer-tel:hover{
    color: #4581B7
}